[general]
instance_num = 1
[mysqld]
bind_address=0.0.0.0
sync_binlog=1
slow_query_log=on
long_query_time=0.6
basedir=/home/user/MySQL5.7_1
datadir=/home/user/MySQL5.7_1/data/data
innodb_data_file_path=ibdata1:300M:autoextend
innodb_data_home_dir=/home/user/MySQL5.7_1/data/data
innodb_undo_directory=/home/user/MySQL5.7_1/data/undo
innodb_log_group_home_dir=/home/user/MySQL5.7_1/data/redo
innodb_lock_wait_timeout=10
innodb_print_all_deadlocks=ON
innodb-file-per-table
log-bin=../binlog/mysql-bin
binlog_format=ROW
max_binlog_size=104857600
relay-log=../relaylog/relay-bin
log-error=/home/user/MySQL5.7_1/log/mysqld1.log
pid-file=/home/user/MySQL5.7_1/mysqld1.pid
tmpdir=/home/user/MySQL5.7_1/data/tmp
socket=/home/user/MySQL5.7_1/bin/mysql1.sock
server_id=1
gtid_mode=on
enforce_gtid_consistency=on
[client]
socket=/home/user/MySQL5.7_1/bin/mysql1.sock
