[Unit]
Description=Zookeeper Service unit Configuration
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME=/usr/lib/jdk-21
Environment=ZK_HOME=/home/user/apache-zookeeper-3.8.1-bin
Environment=ZK_DATA_DIR=/home/user/apache-zookeeper-3.8.1-bin/zook_data
ExecStart=/home/user/apache-zookeeper-3.8.1-bin/bin/zkServer.sh start $ZK_HOME/conf/zoo.cfg
ExecStop=/home/user/apache-zookeeper-3.8.1-bin/bin/zkServer.sh stop
PIDFile=/home/user/apache-zookeeper-3.8.1-bin/zook_data/zookeeper_server.pid
KillMode=none
User=user
Group=user
Restart=on-failure

[Install]
WantedBy=multi-user.target
